<header>
	<h1 translate>JulieSphere&trade; Essentials Art Analytics 2022</h1>
	<div class="language-selector">
		<mat-icon>language</mat-icon>
		<mat-form-field>
			<mat-label translate>Language</mat-label>
			<mat-select #language (selectionChange)="setLanguage(language.value)" [value]="this.localStorage.getItem('lang')">
				<mat-option translate *ngFor="let language of translate.getLangs()" [value]="language">{{languages.names[languages.codes.indexOf(language)]}}</mat-option>				
			</mat-select>
		</mat-form-field>
	</div>
</header>

<br />

<fieldset>
	<legend translate>Add an artist</legend>
	<mat-form-field>
		<input #query matInput type="text" placeholder="{{'Search for artist...'| translate}}" list="queryAutocomplete" autocomplete="true" />
		<datalist id="queryAutocomplete">
			<option *ngFor="let option of list.datalist" [value]="option"></option>			
		</datalist>
	</mat-form-field>
	&nbsp;&nbsp;
	<button (click)="list.addArtist(query.value);query.value = ''" mat-raised-button color="primary" translate>{{'+ Add' | translate}}</button>
</fieldset>

<br />

<app-artist-list #list></app-artist-list>
<app-artist-details></app-artist-details>
<router-outlet></router-outlet>

<br />
<mat-divider></mat-divider>

<p class="legal"><small translate>&copy;2022 JuliePro. All rights reserved.</small></p>
