<header>
	<h1>JulieSphere&trade; Essentials Art Analytics 2022</h1>
	<div class="language-selector">
		<mat-icon>language</mat-icon>
		<mat-form-field>
			<mat-label>Language</mat-label>
			<mat-select>
				<mat-option>English</mat-option>
				<mat-option>French</mat-option>
				<mat-option>Fuwwy</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</header>

<br />

<fieldset>
	<legend>Add an artist</legend>
	<mat-form-field>
		<input #query matInput type="text" placeholder="Search for artist..." list="queryAutocomplete" autocomplete="true" />
		<datalist id="queryAutocomplete">
			<option *ngFor="let option of list.datalist" [value]="option"></option>			
		</datalist>
	</mat-form-field>
	&nbsp;&nbsp;
	<button (click)="list.addArtist(query.value);query.value = ''" mat-raised-button color="primary">+ Add</button>
</fieldset>

<br />

<app-artist-list #list></app-artist-list>
<app-artist-details></app-artist-details>
<router-outlet></router-outlet>

<br />
<mat-divider></mat-divider>

<p class="legal"><small>&copy;2022 JuliePro. All rights reserved.</small></p>
