<h2>Selected artist<span *ngIf="artist">:</span> {{artist?.name}}</h2>

<div *ngIf="artist; else noArtistMsg">
	<div class="layout" mat-tab-nav-bar>
		<a mat-tab-link [routerLink]="['/artist/:id/albums', artist.id]" [state]="artist">Albums</a>
		<a mat-tab-link [routerLink]="['/artist/:id/concerts', artist.name]" [state]="artist">Concerts</a>
	</div>
	
	<router-outlet></router-outlet>
</div>

<ng-template #noArtistMsg>
	<p>There is no artist selected. Select an artist above to see its stats.</p>
</ng-template>
