body
	height: auto
	min-height: calc(100vh - 200px)
	padding: 100px

	outline: 5px solid indigo
	outline-offset: -50px
	user-select: none

	font-family: 'Roboto', sans-serif

.card-layout
	display: flex
	flex-wrap: wrap